*{
  margin: 0px;
}

 .Right_component{
  margin-left: 50%;
  
}

.Right_component__titel {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
}

/* .Right_component__titel > h1 {
  color: transparent;
  background-image: linear-gradient(to left, #e6e6e6, #3498db, #9659b6, #f39c12);
  background-clip: text;
  animation: animate 5s linear infinite;
  background-size: 500%;

}
@keyframes animate{
  0%{
    background-position: 0 100%;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 100%;
  }
} */

.Right_component__skills > h1 {
  padding-left: 30px;
  padding-bottom: 50px;
  
}
@media (max-width: 768px) {
  .Right_component {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
  .leftComponent {
    display: none;
  }
}