*{
  margin: 0px;
  font-family: sans-serif;
}

.spinner{
  text-align: center;
  background-color: #f78ca0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.spinner > h4{
  color: transparent;
  letter-spacing: 1px;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  animation: typing 2s steps(21), cursor .4s step-end infinite alternate,animate 5s linear infinite;
  background-clip: text;
  background-image: linear-gradient(to left, #e6e6e6, #000000, #3c033c, #ffffff);
  background-size: 500%;
  
}

.Right_component{
  margin-left: 50%;
}

.Right_component__titel {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
}
.Right_component__titel > h4 {
  color: transparent;
  padding-top: 10px;
  background-clip: text;
  background-image: linear-gradient(to left, #e6e6e6, #000000, #3c033c, #ffffff);
  animation: animate 5s linear infinite;
  background-size: 500%;
}

/* .Right_component__titel > h1 {
  color: transparent;
  background-image: linear-gradient(to left, #e6e6e6, #3498db, #9659b6, #f39c12);
  background-clip: text;
  animation: animate 5s linear infinite;
  background-size: 500%;

}
*/
@keyframes animate{
  0%{
    background-position: 0 50%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 0 50%;
  }
} 

.Right_component__skills > h1 {
  padding-left: 30px;
  padding-bottom: 50px;
}

@media (max-width: 768px) {
  .Right_component {
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background: transparent;
    opacity: 1;
  }
  .leftComponent {
    position: absolute;
    width: 100%;
  }
}
@keyframes typing {
  from { width: 0 }
}