*{
  margin: 0px;
}

 .Right_component{
  margin-left: 50%;
  
}

.Right_component__titel {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
}

.Right_component__skills > h1 {
  padding-left: 30px;
  padding-bottom: 50px;
}



