.contact {
    display: flex;
    position: relative;
}
.man {
    position: absolute;
}
.laptop {
    position: absolute;
}
.mail {
    position: absolute;
}

.awards {
    position: absolute;
}
.specdecoder {
    position: absolute;
    top: 360px;
    left: 50px;
    
}
.specdecoder > img {
    height: 100px;
    width: 137px;
}
.moneybag {
    position: absolute;
    top: 320px;
    left: 47px;
}
.moneybag > img {
    height: 150px;
    width: 150px;
}
@media only screen and (max-width:780px) {
    
    .contact__right {
        display: grid;
        grid-template-columns: 1fr;
    }
    .contact__inputfield{
        display: grid;
        grid-template-columns: 1fr;
    }
    
}