.contact {
    display: flex;
    position: relative;
}
.man {
    position: absolute;
}
.laptop {
    position: absolute;
}
.mail {
    position: absolute;
}

.awards {
    position: absolute;
}
.specdecoder {
    position: absolute;
    top: 360px;
    left: 50px;
    
}
.specdecoder > img {
    height: 100px;
    width: 137px;
}
.moneybag {
    position: absolute;
    top: 320px;
    left: 47px;
}
.moneybag > img {
    height: 150px;
    width: 150px;
}
.contactUs__logo > h1 {
    padding-left: 20px;
    
}
.contactUs__logo{
    display: flex;
    pointer-events: none;
    padding-bottom: 40px ;
}
.contactUs__logo > img {
    width: 10vh;
}
@media (prefers-reduced-motion: no-preference) {
    .contactUs__logo > img {
      animation: App-logo-spin infinite 30s linear;
    }
  }
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
@media only screen and (max-width:780px) {
    
    .contact__right {
        display: grid;
        grid-template-columns: 1fr;
    }
    .contact__inputfield{
        display: grid;
        grid-template-columns: 1fr;
    }
    
}