.personal__work {
    padding-top: 60px;
    padding-bottom: 100px;
    background-color: #d19bb7;
}
.dream_logo > h1 {
    color: #0c2557;
}

*{
    box-sizing: border-box;
    
}
.PortfolioPanel > h1 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #41403f;
    padding-top: 40px;
}

.portfolioPage {
    margin: auto;
    margin: auto;
    overflow: hidden;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-row-gap: 4rem;
    font-family: "Loto" sans-serif;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    color: #555;
    padding-top: 100px;
    padding-bottom: 100px;
}
.portfolioPage__body {
    width: 270px;
    height: 370px;
    padding: 60px 35px 35px 35px;
    border-radius: 40px;
    background: linear-gradient(
        150deg,
        rgb(106, 197, 203) 0%,
        rgb(113, 181, 223) 35%,
        rgb(117, 218, 236) 100%
    );
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
    margin: auto;
}
.portfolioPage__title {
    text-align: center;
    padding-bottom: 70px;
}
.portfolioPage__buttomDiv {
    display: flex;
    flex-direction: column;
}
.portfolioPage__button {
    margin: auto;
    cursor: pointer;
    margin-bottom: 20px;
    width: 170px;
    display: inline-block;
    padding: 7px;
    border: 1px solid #555;
    border-radius: 5px;        
}

.portfolioPage__button > h4 {
    font-size: 18px;
    font-weight: 700;
    color: rgb(94, 93, 93);
    font-family: cascadia code;
    text-align: center;
}

.portfolioPage__title > h3 {
    color: #ca5f1e;
    font-family: cascadia code;
}

.portfolioPage__title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolioPage__title > img {
    width: 200px;
}

.portfolioPage__date {
    color: #ffffff;
    bottom: 10;
    left: 0;
    right: 0;
}
.dream_logo {
    display: flex;
    padding-bottom: 100px;
}
.dream_logo > img {
    width: 12vh;
    padding-right: 20px;
}
@media screen and (max-width:780px) {
    .portfolioPage{
        display: grid;
        grid-template-columns: 100%;
    }
}