.Right_component__skills {
    padding-top: 70px;
    padding-bottom: 200px;
    background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
  } 
  .Right_component_skills__component {
    display: flex;
    padding-top: 20px;
  }
  .Right_component_skills__Left {
    width: 50%;
  }
  .Right_component_skills__right {
    width: 50%;
  }