.WorkExprience{
    padding-top: 75px;
    padding-bottom: 100px;
    background: fixed;
    background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
}

.WorkExprience__contant {
    display: flex;
    padding-bottom: 50px;
}

.WorkExprience_contant__title {
    width: 27%;
    padding-bottom: 40px;
}
.WorkExprience_contant__title > h2{
    padding-bottom: 10px;
}
.WorkExprience_contant__title > h4 {
    padding-bottom: 10px;

}
.WorkExprience_contant__background {
    width: 73%;
    align-items: flex-start;
}
.WorkExprience_contant__background > ul > li {
    margin-bottom: 10px;
}
.work__logo > h1 {
    padding-left: 20px;
}
.work__logo {
    display: flex;
    padding-bottom: 40px;
}
.work__logo > img {
    width: 10vh;
    height: 10vh;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .work__logo > img  {
      animation: App-logo-spin infinite 5s linear;
    }
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  